body {
  height: 100vh;
  background: linear-gradient(red 10%, 30%, blue 90%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#emoji {
  font-size: 10rem;
  transition-property: ;
  transition-duration: 200ms;
  filter: grayscale(1)
}

#emoji:hover {
  transform: scale(1.3);
  filter: grayscale(0);
}